@import "./assets/constants/scss/styles.constants.scss";

@font-face {
  font-family: "ProductSans";
  font-style: normal;
  src: url(./assets/fonts/ProductSans-Thin.ttf) format("truetype");
}
* {
  font-family: "ProductSans";
}
body {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  margin: auto;
  align-self: center;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
  width: 25vw;
  overflow: hidden;
}

@media (max-width: 500px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
}
