@font-face {
  font-family: "ProductSans";
  font-style: normal;
  src: url(./assets/fonts/ProductSans-Thin.ttf) format("truetype");
}
* {
  font-family: "ProductSans";
}
body {
  display: grid;
  background-color: white;
  justify-content: center;
  align-content: center;
}

.App {
  text-align: center;
  width: 335px;
  background-color: #283638;
}
